*{
box-sizing:border-box;
}


body{

margin:0;

font-family:'Segoe UI',Arial,sans-serif;

line-height:1.6;

background:#f4f7fb;

color:#222;

}



header{

background:#111827;

padding:20px;

}



nav ul{

display:flex;

justify-content:center;

gap:30px;

list-style:none;

padding:0;

}



nav a{

color:white;

text-decoration:none;

font-weight:bold;

}



nav a:hover{

color:#38bdf8;

}



main{

padding:40px;

}



.hero{

text-align:center;

padding:50px;

background:white;

border-radius:15px;

}



.hero h1{

font-size:40px;

}



.button{

display:inline-block;

margin-top:20px;

padding:12px 25px;

background:#2563eb;

color:white;

text-decoration:none;

border-radius:8px;

}



.skills{

display:flex;

flex-wrap:wrap;

gap:15px;

}



.skills div{

background:#2563eb;

color:white;

padding:15px 25px;

border-radius:20px;

}



.about{

background:#1e293b;

padding:40px;

border-radius:15px;

}



.about h1{

color:white;

font-size:35px;

}



.about p{

color:white;

font-size:18px;

}



.project-card{

background:white;

padding:25px;

margin:20px 0;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



form{

background:white;

padding:30px;

max-width:500px;

display:flex;

flex-direction:column;

gap:15px;

border-radius:15px;

}



input,textarea,button{

padding:12px;

font-size:16px;

}



button{

background:#2563eb;

color:white;

border:none;

cursor:pointer;

}



footer{

text-align:center;

padding:20px;

background:#111827;

color:white;

}